
<!DOCTYPE html>
<html lang="en">
<%-include("templates/header") %>
    <h3>Main page</h3>
    Hello <%=name%>. You are logged in!
    <br>
    <%ranNumber = Math.floor(Math.random() * (4-1)+1);%>
    <%console.log(ranNumber)%>
    <%if (ranNumber == 1) {%>
    <img src='/spongebob.png' style='width:250px;'>
    <%} else if (ranNumber == 2) {%>
    <img src='/krabs.png' style='width:250px;'>
    <%} else { %>
    <img src='/pearl.png' style='width:250px;'>
    <%};%>
    <br>
    <form action="/loggedin/memberInfo/1" method="get">
    <button>Go to Todo list</button>
    </form>
    
    <br>
    
    <form action="/logout" method="post" placeholder="Enter the todo">
    <button>Log out</button>
    </form>
<%-include("templates/footer") %>