
<!DOCTYPE html>
<html lang="en">
<%-include("templates/header") %>
    log in
    <form action='/loggingin' method='post'>
    <input name='email' type='text' placeholder='email'>
    <input name='password' type='password' placeholder='password'>
    <button>Submit</button>
    </form>

    <% if (missing) { %>
        <br> Please provide <%= missing%>.
    <% } %>  

    <% if (error) { %>
        <br> User and password not found.
    <% } %>
    
<%-include("templates/footer") %>