
<!DOCTYPE html>
<html lang="en">
<%-include("templates/header") %>
    <ul>
        <% let i=0; %>
        ADMIN PAGE
        <br>
        <form action="/loggedin/admin" method="get">
        <button>Go back to main</button>
        </form>
    
        <!-- <form action="/loggedin/memberInfo" method="get"> -->
        <hr> User list
		<% for(i=0; i < users.length; i++) { %>
        <%- include('templates/user', {user: users[i]})  %> 
        <% } %>
        <!-- </form> -->
    </ul>
<%-include("templates/footer") %>